# Debug
DEBUG = True

# Django secret key
SECRET_KEY = 'django-secret-key'

# Allowed hosts
ALLOWED_HOSTS = *

# CORS
CORS_URLS_REGEX = r'^/api/.*$'
CSRF_TRUSTED_ORIGINS = http://127.0.0.1

CORS_ORIGIN_ALLOW_ALL # Defaults to False.

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=DBname
POSTGRES_USER=DBuser
POSTGRES_PASSWORD=DBpassword
DB_HOST=db
DB_PORT=5432