# Debug
DEBUG = True

# Django secret key
SECRET_KEY = 'django-secret-key'

# Allowed hosts
ALLOWED_HOSTS = *

# CORS
# If set to any value, CORS_ORIGIN_ALLOW_ALL will be True. If left empty, it will be False.
CORS_ORIGIN_ALLOW_ALL = True
CORS_URLS_REGEX = r'^/api/.*$'
