# Debug
DEBUG = True

# Django secret key
SECRET_KEY = 'django-secret-key'

# Allowed hosts
ALLOWED_HOSTS = *

# CORS
# If set to any value, CORS_ORIGIN_ALLOW_ALL will be True. If left empty, it will be False.
CORS_ORIGIN_ALLOW_ALL = True
CORS_URLS_REGEX = r'^/api/.*$'

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=DBname
POSTGRES_USER=DBuser
POSTGRES_PASSWORD=DBpassword
DB_HOST=localhost or db
DB_PORT=5432